.movie-carousel-item {
    padding: 15px;
    text-align: center;
    transition: all 0.5s ease;
}

.movie-carousel-item img {
    width: 200px; /* Ajuste inicial del tamaño de la imagen */
    max-width: 100%; /* Asegura que la imagen no se extienda más allá de su contenedor */
    object-fit: cover;
    opacity: 0.8;
    transition: all 0.5s ease;
}

.movie-carousel-item img:hover {
    cursor: crosshair;
    transform: scale(3.7); /* Escalar la imagen al pasar el cursor */
    opacity: 1;
    filter: contrast(120%);
}

.movie-carousel-item p {
    margin-top: 10px;
    text-align: center;
}
