/* MovieList.css 
El encargado que hacer que se mire de buena manera toda la lista 
*/
.container_movies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row_movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col_movies {
    margin: 100px;
    max-width: 250px; /* Ajusta el ancho máximo según sea necesario */
    text-align: center;
}
