.movie-card {
    text-align: center;
    margin-bottom: 20px;
}

.movie-posters {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.movie-poster {
    width: 150px; /* Ajusta el tamaño de los pósters */
    height: auto; /* Mantén la proporción de aspecto */
    border-radius: 8px; /* Agrega esquinas redondeadas */
}
