/*MovieDetail.css
Esto es para el inicio que se mira el trailer y se mira los comentarios
*/
.viewtrailer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    padding: 20px;
    color: white;
}

.trailer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.movie-poster {
    margin-bottom: 20px;
}

.cast-container {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.562);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.582);
    line-height: 1.5;
}

.cast-container h2 {
    line-height: 1.5;
    margin-bottom: 10px;
}

.cast-container ul {
    list-style: none;
    padding: 0;
}

.cast-container li {
    margin-bottom: 5px;
}

.boton {
    padding: 10px 20px;
    background-color: #ff0000;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.text-white {
    color: white;
}
/* Ajuste de los botones de navegación del carrusel */
.slick-prev, .slick-next {
    z-index: 1;
    top: 50%; /* Centra los botones verticalmente */
    width: 40px; /* Ajusta el ancho de los botones */
    height: 40px; /* Ajusta la altura de los botones */
    transform: translateY(-50%); /* Centra los botones verticalmente */
}

.slick-prev:before, .slick-next:before {
    font-size: 20px; /* Ajusta el tamaño del ícono dentro del botón */
    color: #000; /* Cambia el color del ícono */
    opacity: 1; /* Hace el ícono completamente opaco */
}

/* Ajustes adicionales para asegurar que los botones sean visibles */
.slick-prev {
    left: -50px; /* Ajusta la posición del botón anterior */
}

.slick-next {
    right: -50px; /* Ajusta la posición del botón siguiente */
}
